.w-md-editor {
  border-radius: 0 !important;
  background-color: unset !important;
}

.w-md-editor-bar {
  border-radius: 0 !important;
}

.w-md-editor .title {
  line-height: unset;
  font-size: unset;
  font-weight: unset;
  color: #d4d4d4 !important;
}

.w-md-editor ul {
  line-height: 1;
}

.text-editor .w-md-editor-bar svg {
  display: none;
}

.text-editor .w-md-editor-bar {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  height: 11px;
  cursor: row-resize;
  background-color: #37414b;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 100%;
  position: relative;
}

.text-editor em {
  font-style: italic;
}

.text-editor .wmde-markdown hr {
  border-top: 1px solid #dee5ed;
}

.text-editor .wmde-markdown ol {
  list-style: decimal;
}

.text-editor .w-md-editor-show-live {
  /* Hide menu bar buttons to prevent accidental delete */
  z-index: 20;
}

.text-editor .w-md-editor-toolbar {
  background-color: #37414b;
  border-bottom: 1px solid gray;
}

.text-editor .w-md-editor-toolbar li button {
  color: #d4d4d4;
}

.text-editor .w-md-editor-content {
  background-color: #202123;
}

.text-editor .w-md-editor,
.text-editor .w-md-editor .w-md-editor-text-pre {
  color: #d4d4d4;
}

.text-editor .w-md-editor-text-pre .bold {
  color: unset;
}

.text-editor .token.list.punctuation {
  background-color: unset;
}

/* 🛠 css conflict applying fix */
.w-md-editor-text-pre .url {
  color: #033875;
}

.w-md-editor .table {
  background-color: unset;
  color: unset;
}

.w-md-editor .number,
.wmde-markdown .number {
  align-items: unset;
  background-color: unset;
  border-radius: unset;
  display: unset;
  font-size: unset;
  height: unset;
  justify-content: unset;
  margin-right: unset;
  min-width: unset;
  padding: unset;
  text-align: unset;
  vertical-align: unset;
}

.wmde-markdown h1,
.wmde-markdown h2,
.wmde-markdown h3,
.wmde-markdown h4,
.wmde-markdown h5,
.wmde-markdown h6 {
  border-bottom: 1px solid #333333 !important;
}

.wmde-markdown code {
  color: white;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.9);
}

.wmde-markdown pre {
  background-color: #00000036;
}

.wmde-markdown pre code {
  color: white !important;
  text-shadow: unset;
}

.wmde-markdown-color code[class*='language-'] .token.operator {
  background-color: unset !important;
}

.wmde-markdown > table td,
.wmde-markdown > blockquote table td,
.wmde-markdown > table th,
.wmde-markdown > blockquote table th {
  border: 1px solid #333333 !important;
}

.wmde-markdown > table tr {
  background-color: #202123 !important;
}

.wmde-markdown ul li {
  margin: 7px 0;
}

.wmde-markdown ul li a {
  color: #1a85fd;
}

.w-md-editor-text-pre .table .table-header {
  color: unset !important;
}

.w-md-editor-text-pre .tag {
  align-items: unset;
  background-color: unset;
  border-radius: unset;
  color: unset;
  display: unset;
  font-size: unset;
  height: unset;
  justify-content: unset;
  line-height: unset;
  padding-left: unset;
  padding-right: unset;
  white-space: unset;
}
